<div class = "container">
    <div class = "row">
        <div clas = "col-md-4"></div>
        <div clas = "col-md-4">
            
        <% if request.remote_ip == "110.9.60.46" %>
            <table class="table table-hover" al>
              <thead>
                <tr>
                  <th>#</th>
                  <th>이름</th>
                  <th>학교</th>
                  <th>삭제하기</th>
                </tr>
              </thead>
              <tbody>
                <% a = 1 %>  
                <% @all_summoner.each do |x| %> 
                <tr>
                  <th scope="row"><%= a %></th>
                  <td><%= x.summoner %></td>
                  <td><%= x.university %></td>
                  <td>
                      <form action = "/home/summoner_delete" method  = "get">
                          <input type = "hidden" value = "<%= x.id %>" name = "delete_id">
                          <input type = "hidden" value = "<%= x.university %>" name = "delete_univ">
                          <button type="submit" class="btn btn-danger btn-xs">Danger</button>    
                      </form>
                  </td>
                  <% a = a+1 %>    
                </tr>
                <% end %>
              </tbody>
            </table>
        <% else %>
            권한이 없습니다.
        <% end %>    
            
        </div>
        <div clas = "col-md-4"></div>
    </div>
</div>

