<% if request.remote_ip == "110.9.60.46" %>
<div class = "container">
    <div class = "row">
        <div clas = "col-md-4"></div>
        <div clas = "col-md-4">
            
        
            <table class="table table-hover" al>
              <thead>
                <tr>
                  <th>#</th>
                  <th>이름</th>
                  <th>학교</th>
                  <th>삭제하기</th>
                </tr>
              </thead>
              <tbody>
                <% a = 1 %>  
                <% @all_summoner.each do |x| %> 
                <tr>
                  <th scope="row"><%= a %></th>
                  <td><%= x.summoner %></td>
                  <td><%= x.university %></td>
                  <td>
                      <form action = "/home/summoner_delete" method  = "get">
                          <input type = "hidden" value = "<%= x.id %>" name = "delete_id">
                          <input type = "hidden" value = "<%= x.university %>" name = "delete_univ">
                          <button type="submit" class="btn btn-danger btn-xs">Danger</button>    
                      </form>
                  </td>
                  <% a = a+1 %>    
                </tr>
                <% end %>
              </tbody>
            </table>
          
            
        </div>
        <div clas = "col-md-4"></div>
    </div>
    <br><br>
    <div class = "row">
      <h4>전남대 티어 분류</h4>
      브론즈: <%= @a %><br>
      실버: <%= @b %><br>
      골드: <%= @c %><br>
      플래: <%= @d %><br>
      다이아: <%= @e %><br>
      마스터: <%= @f %><br>
      챌린저: <%= @g %>
    </div>
    <br><br>
    <div class = "row">
      <h4>전남대 성별 분포도</h4>
      남성: <%= @mail %><br>
      여성: <%= @femail %>
    </div>
</div>

<% else %>
    <h2>권한이 없습니다.</h2>
<% end %>  

