<% if request.remote_ip == "110.9.60.46" || request.remote_ip == "123.100.171.100" || request.remote_ip == "114.206.123.47"%>
<div class = "container">
    <div class = "row">
      <div class = "col-md-4">
        <h4>전남대 티어 분류</h4>
        브론즈: <%= @bronze_jnu %><br>
        실버: <%= @silver_jnu %><br>
        골드: <%= @gold_jnu %><br>
        플래: <%= @platinum_jnu %><br>
        다이아: <%= @diamond_jnu %><br>
        마스터: <%= @master_jnu %><br>
        챌린저: <%= @challenger_jnu %>  
      </div>
      <div class = "col-md-4">
        <h4>인하대 티어 분류</h4>
        브론즈: <%= @bronze_inha %><br>
        실버: <%= @silver_inha %><br>
        골드: <%= @gold_inha %><br>
        플래: <%= @platinum_inha %><br>
        다이아: <%= @diamond_inha %><br>
        마스터: <%= @master_inha %><br>
        챌린저: <%= @challenger_inha %>    
      </div>
      <div class = "col-md-4">
        <h4>조선대 티어 분류</h4>
        브론즈: <%= @bronze_chosun %><br>
        실버: <%= @silver_chosun %><br>
        골드: <%= @gold_chosun %><br>
        플래: <%= @platinum_chosun %><br>
        다이아: <%= @diamond_chosun %><br>
        마스터: <%= @master_chosun %><br>
        챌린저: <%= @challenger_chosun %>    
      </div>
        
    </div>
    <br><br>
    <div class = "row">
      <div class = "col-md-4">
        <h4>전남대 성별 분포도</h4>
        남성: <%= @mail_jnu %><br>
        여성: <%= @femail_jnu %>  
      </div>
      <div class = "col-md-4">
        <h4>인하대 성별 분포도</h4>
        남성: <%= @mail_inha %><br>
        여성: <%= @femail_inha %>  
      </div>
      <div class = "col-md-4">
        <h4>조선대 성별 분포도</h4>
        남성: <%= @mail_chosun %><br>
        여성: <%= @femail_chosun %>  
      </div>
        
    </div>
    <br><br>
    <div class = "row">
        <div clas = "col-md-4"></div>
        <div clas = "col-md-4">
            
        
            <table class="table table-hover" al>
              <thead>
                <tr>
                  <th>#</th>
                  <th>이름</th>
                  <th>학교</th>
                  <th>삭제하기</th>
                </tr>
              </thead>
              <tbody>
                <% a = 1 %>  
                <% @all_summoner.each do |x| %> 
                <tr>
                  <th scope="row"><%= a %></th>
                  <td><%= x.summoner %></td>
                  <td><%= x.university %></td>
                  <td>
                      <form action = "/home/summoner_delete" method  = "get">
                          <input type = "hidden" value = "<%= x.id %>" name = "delete_id">
                          <input type = "hidden" value = "<%= x.university %>" name = "delete_univ">
                          <button type="submit" class="btn btn-danger btn-xs">Danger</button>    
                      </form>
                  </td>
                  <% a = a+1 %>    
                </tr>
                <% end %>
              </tbody>
            </table>
          
            
        </div>
        <div clas = "col-md-4"></div>
    </div>
    
</div>

<% else %>
    <h2>권한이 없습니다.</h2>
<% end %>  

